# =========================
# 共通
# =========================
.env
*.log
*.tmp
.DS_Store

# =========================
# ESP32（PlatformIO）
# =========================
esp32_arduino/.pio
esp32_arduino/.pioenvs
esp32_arduino/.piolibdeps
esp32_arduino/.vscode

# 機密情報（ESP32）
esp32_arduino/src/wifi_config.h
esp32_arduino/src/wol_config.h


# =========================
# Server（Go）
# =========================
# バイナリ
server_go/streamdeck-server

# 機密情報（Server）
server_go/config.json

# =========================
# その他
# =========================
*.bak
*.swp

# OS系
Thumbs.db